body,
html {
	padding: 0;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 14px;
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.row {
	height: 100%;
	margin-left: 0;
	margin-right: 0;
}

.column {
	height: 100%;
	*zoom: 1;
}

#map-layout {
	padding-top: 50px;
}

#mapView {
	padding: 0px !important;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	float: none !important;
	width: auto !important;
}

#mapDiv {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
}

#sidebar {
	padding: 0px;
	border-right: 1px solid #4c4c4c;
}

#sidebar,
#sidebar a,
#sidebar-footer {
	color: #3f4533;
	background-color: transparent;
	font-family: 'Trebuchet MS', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.Link {
	color: #337ab7 !important;
}

#sidebar .nav li>a:hover {
	background-color: #7b755ccc !important;
	color: #fff;
}
  
#sidebar .nav>li>a {
border-bottom: 1px solid #3f4533;
}

#wrongBasemap{
	display: none;
}

.navbar .glyphicon{
	font-size: 20px;
	color: #a2a379;
}

.red {
	color: red !important;
	font-size: 14px !important;
	font-weight: normal;
	margin: 0;
}

.panel-collapse {
	width: 100%;
	max-height: 380px !important;
	overflow-y: auto;
	overflow-x: hidden;
	color: black !important;
	background-color: #F8F8F8 !important;
	border-bottom: 2px solid #ccc;
}

.controlBtns {
	position: fixed;
	width: 25%;
	min-width: 350px;
	height: 74px;
	bottom: 0;
}

#ReturnBtn {
	width: 100%;
	height: 100%;
	font-size: 18px;
	font-weight: bold;
	color: white;
	border-radius: 0;
	background-color: #f0ad4e;
	border-color: #eea236;
	display: none;
	position: relative;
	bottom: 0px;
	margin: 0;
}

.btn.disabled {
	display: none;
}

#ReturnBtn.btn-default:focus,
#ReturnBtn.btn-default:hover {
	background-color: #ffae00;
}

.fullScreen {
	width: 100% !important;
}

.splitScreen {
	width: 70%;
}

@media (min-width: 500px) {
	#sidebar {
		width: 25%;
		min-width: 350px;
		float: left;
	}
}

@media(max-width:500px) {
	#sidebar {
		overflow: auto;
		height: 90%;
	}
	.controlBtns {
		height: 10%;
	}
}

@media(max-height:750px) {
	#sidebar {
		overflow-y: auto;
		overflow-x: hidden;
	}
}

#expandSidebar {
	position: absolute;
	text-align: center;
	width: 36px;
	top: 3px;
	left: 0;
	padding: 11px 4px 11px 3px;
	z-index: 1;
	color: #e6e6d6;
	background-color: #3f4533;
	border: 1px solid #a2a379;
	border-left: none;
	cursor: pointer;
  font-size: 16px;
}

img.ri {
	position: absolute;
	z-index: 10001 !important;
	max-width: 80%;
	top: 10%;
	left: 10%;
}

img.ri:empty {
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

@media screen and (orientation: portrait) {
	img.ri {
		max-width: 50%;
	}
}

@media screen and (orientation: landscape) {
	img.ri {
		max-height: 50%;
	}
}

.simpleGeocoder {
	margin-right: 5px;
}

.tooltip {
	opacity: 1 !important;
}

.esriSimpleSlider {
	border-radius: 0;
	top: 45px !important;
	left: 3px !important;
	outline: none;
}

#LocateButton {
	position: absolute;
	top: 112px;
	left: 4px;
	z-index: 50;
}

#LocateButton .zoomLocateButton {
	border-radius: 0;
	background-color: rgba(63, 69, 51, .8);
}

#info1{
	cursor:pointer;
}
#info1,
#info2 {
	position: absolute;
	right: 5px;
	top: 5px;
	color: #2b2b2b;
	font-weight: bold;
	font-size: 12px;
	text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
	z-index: 52;
}

#info2 {
	top: 22px;
}

.arcgisSearch .searchGroup .searchInput,
.arcgisSearch .searchBtn {
	border-color: #ccc;
}

#longitudeInput,
#latitudeInput {
	display: inline;
	/* height: 20px;
	width: 100px; */
	padding: 6px 24px 6px 12px;
	font-size: 14px;
	line-height: 20px;
	color: #4C4C4C;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	transition: width .175s ease-in;
	box-sizing: content-box;
}

#measureResultsDiv {
	position: absolute;
	right: 5px;
	bottom: 42px;
	color: #2b2b2b;
	font-weight: bold;
	text-align: right;
	background-color: #ffffff;
	z-index: 51;
	display: none;
}

#Results {
	color: #7a7a7a;
}

.esriTitleContainer {
	padding-left: 7px;
}

.esriLayerList .esriContainer {
	border-top: none !important;
	background-color: #F8F8F8 !important;
	color: black !important;
}

.esriLayerList .esriToggleButton {
	float: left;
	width:0;
	position:relative;
	left:-42px;
	top: 8px;
	padding:0;
	outline: none;
  }

.esriList {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.esriControlsBR {
	position: fixed;
}

.bootstrap-select.btn-group {
	margin-top: 3px !important;
	margin-left: 2px !important;
}

.bootstrap-select>.btn {
	width: 80% !important;
}

#btnQuery,
#btnPDF,
#btnCoordZoom,
#btnGeosearch {
	color: #fff;
	border: 1px solid transparent;
	background-color: #677054;
	border-color: #3F4533;
	padding: 6px 12px;
	font-size: 14px;
}

#btnPDF {
	margin-top: 5px;
}

.claro .dijitButton .dijitButtonNode {
	color: #fff !important;
	border: 1px solid transparent !important;
	border-radius: 0px !important;
	background-color: #677054;
	border-color: #3F4533 !important;
	padding: 2px 4px 4px !important;
	box-shadow: none !important;
	background-image: none !important;
}

.claro .dijitButton .dijitButtonNode:hover, #btnGeosearch:hover, #btnQuery:hover, #btnPDF:hover{
	background-color:#3f4533;
}

.esriBasemapGalleryNode {
	width: 90px;
}

.esriBasemapGalleryLabelContainer {
	font-size: 80% !important;
	display: inline !important;
}

#gmu,
#elkzone,
#chunt,
#waterfowl,
#gameDistribution,
#userTextBox,
#longitudeInput,
#latitudeInput,
#txtTitle {
	margin-right: 5px;
	border-radius: 0px;
}

.dropdown-menu.open {
	margin-left: -35px !important;
}

ul.dropdown-menu.inner.selectpicker {
	padding-bottom: 5px !important;
}

.dropdown-menu {
	max-height: 200px !important;
	max-width: 260px !important;
	overflow-x: hidden !important;
}

.dropdown-menu>li>a {
	color: black !important;
}

#btnText {
	color: #fff;
	border: 1px solid transparent;
	border-radius: 0px;
	background-color: #677054;
	border-color: #3F4533;
	font-size: 14px;
	padding: 2px 4px 4px;
}

/* #btnClearHighlighted,
#btnClear,
#btnClearPlace,
#clearMeasureResults,
#btnCloseLandDisclaimer {
	text-align: center !important;
	border: 1px solid #cccccc !important;
	border-radius: 4px !important;
	padding: 6.5px 12px !important;
	font-size: 14px !important;
	color: #333 !important;
	background-color: #FFF !important;
	margin-left: 5px !important;
} */

#clearMeasureResults,
#btnClearPlace, #btnClearGraphic,
#btnClearText, .txt-btn, #btnClearUpload, #btnClearHighlighted {
	display: none;
}

/* #btnClearText {
	margin-left: 5px !important;
	margin-right: 5px !important;
} */

#Close {
	text-align: center;
	color: #fff;
	background-color: #677054;
	border-color: #454c38;
	width: 25%;
	font-size: 14px;
	visibility: visible;
	display: block;
	margin: 5px auto;
	margin-bottom: 10px;
}

#printStatus {
	font-weight: bold;
	margin-top: 10px;
	font-size: 16px;
}

#loadingPrint {
	padding-top: 5px;
}

#div_for_pdf{
	float: left;
    border: 1px solid #3F4533;
    margin-top: 5px;
    margin-right: 5px;
}

#div_for_pdf a{
	color: white !important;
	text-decoration: none !important;
}

#note {
	font-size: 12px;
	padding-top: 5px;
}

#queryLabel1Div,
#queryLabel2Div,
#queryLabel3Div,
#queryLabel4Div,
#queryLabel5Div,
#uploadLabel1Div,
#uploadLabel2Div {
	margin-left: 27px;
	margin-bottom: 5px;
}

.huntDisclaimer {
	font-size: 12px;
	color: #999;
	margin-left: 10px;
}

#huntWarningModal .modal-header {
	padding: 0;
}

.disclaimer {
	font-size: 12px;
	color: #999;
	margin-left: 5px;
}

.sigClosureNote {
	font-size: 12px;
	color: #999;
	margin-left: 35px;
}

.printDisclaimer {
	font-size: 16px;
	color: #999;
	margin-left: 5px;
}

#viewLegendNav1,
#legendNav1,
#huntNav1,
#kmlNav1,
#basemapNav1,
#uploadNav1,
#geosearchNav1,
#measurementNav1,
#drawNav1,
#pdfNav1,
#helpNav1 {
	font-size: 16px;
}

#getKml {
	color: white !important;
	text-decoration: none !important;
}

#helpModal .modal-dialog{
	width: 80%;
  }

/* .starter-template {
  padding: 40px 15px;
  text-align: center;
} */

.container {
	width: 100% !important;
}

.esriMapContainer {
	width: 100% !important;
	cursor: default !important;
}

.navbar-brand {
	color: #a2a379 !important;
	padding: 0;
	display: inline-flex;
	vertical-align: middle;
}

#Title {
	margin: auto;
  }

.navbar-brand-image {
	padding: 5px 0 5px 0px;
	width: 40px;
}

@media(max-width: 295px) {
	.navbar-brand {
		font-size: 18px;
	}
}

@media(max-width: 250px) {
	.navbar-brand {
		font-size: 12px;
	}
}

#navbar-wrapper {
	background-color: #3f4533;
	/* background-image: linear-gradient(#677054, #3f4533); */
	font-family: 'Trebuchet MS', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

#navbar-wrapper strong {
    font-size: 1.4em;
    /* font-family: serif; */
    font-weight: normal;
}

.nav a {
	cursor: pointer;
}

.navbar-inverse .navbar-nav>li>a {
	color: #a2a379;
	padding-right: 10px;
	padding-left: 10px;
}

.panel-title {
	font-size: 14px;
}

#sidebar h4 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 0;
	margin-bottom: 0;
	padding: 10px;
    background-color: #e6e6d6;
    color: #3f4533;
}

#DrawInstructions, #MeasureInstructions{
	margin: 0;
	margin-top:6px;
	margin-bottom:6px;
}

.graphic-btn{
	outline: none;
	margin-top: 5px;
}

.btnCollapse {
	border-radius: 0px;
	width: 100%;
	margin: 0;
	padding: 0;
	display: block;
}

#sidebar a.labelStuff {
	color: #3f4533;
    text-align: left;
    padding-left: 10px;
    font-size: 15px;
	/* font-size: 14px;
	font-weight: bold;
	color: black;
	text-align: left;
	padding: 4px 4px 4px 14px;
	border-top: 2px solid #ccc; */
}

#sidebar a.labelStuff::before {
	content: "\e080";
	position: relative;
	font-family: 'Glyphicons Halflings';
	left: 4px;
	top: 1px;
  padding-right: 7px;
  font-size: 12px;
}

#sidebar a.labelStuff[aria-expanded="true"]::before {
	content: "\e114";
}

@media(max-width: 1050px){
	#Links {
	  padding-left: 0;
	  text-align: center;
	  position: relative;
	  width: 100%;
	  margin: 0 auto;
	  /* background-color: #5c6153 */
  }
  .navbar-header {
	  float: none;
  }
  
  .container{
	padding-right: 0;
	padding-left: 0;
  
  }
  
  .navbar-brand-image {
	margin-left: 15px;
  }
  .navbar-toggle {
	padding: 12px 10px;
	display: block;
	border-radius: 0;
	margin: 0;
	border: 0;
	height: 50px;
	right: 0;
	border-left: 1px solid transparent;
	position: absolute;
  }
  .navbar-inverse .navbar-toggle:hover,
  .navbar-inverse .navbar-toggle:focus {
	  background-color: #3f4533;
  }
  .navbar-inverse .navbar-toggle {
	  border-color: #57671c;
  }
  .navbar-collapse {
	  padding: 0;
	  border-top: 1px solid transparent;
	  background-color: #3f4239;
  }
  .navbar-collapse.collapse {
	  display: none !important;
  }
  
  .navbar-nav {
	margin: 7.5px 30px;
	text-align: center;
  }
  
  .collapse.in {
	  display: block !important;
  }
  
  }

  .btn{
	  border-radius:0 !important;
  }